@import "../../styles/colors.scss";

.footer {
    background-color: #000;
    height: 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px;
  }
  .footerInner{
    display: flex;
    .footerInnerRew{
        display: block;
        margin-left: 180px;
    }
    textarea {
        width: 600px;
        height: 100px;
        margin-top: 10px;
        padding: 10px;
        resize: none;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
      }
      
      button {
        width: 600px;
        margin-top: 10px;
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: var(--GreenColorDefault);
        color: #000;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #fff;
      }
      
      button:hover {
        background-color: var(--GreenColorText);
      }
      
  }
  
