@font-face {
    font-family: 'Overpass';
    src: url('../assets/fonts/Overpass/overpass-regular.woff2') format('woff2'),
         url('../assets/fonts/Overpass/overpass-regular.woff') format('woff'),
         url('../assets/fonts/Overpass/overpass-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400; /* Нормальный вес */
    font-display: swap; /* Улучшает производительность загрузки */
}


html, body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;   
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
*{
    font-family: 'Overpass', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: #F0F3F2;
    background-image: url('./../assets/img/BgBody.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}