:root {
    --ExampleColor: #f7f7f7;
    --GreenColorDefault: #004529;
    --GreenColorHover: #002D1B;
    --GreenColorActive: #001C14;
    --GreenColorText: #006D49;
    --BodyBgColor: #F0F3F2;
    --ColorLink: #1CE996;
    --GreenLinkSecond:#58B191;
    --InputColors: #C8D0CE;
    --InputTextColor: #858B89;
    --GrayOne: #858B89;
    --GraySecond: #5B605E;
    --GrayTextDefault: #333333;
    --ErrorColor:#B32020;
    --MenuHover:#0045290a;
    --MenuHoverActive: #00452940;
}